fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 8px 8px;
  position: relative;
}

legend {
  font-size: 1.2rem;
  color: white;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
